.section {
  background-color: white;
  box-shadow: 0 2px #eee;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 10px 0;
  border: 1px solid #e2e2e2;
  padding: 5px 20px;
}

.section__heading {
  font-weight: 900;
}

.section__header--toggleButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .section__container--toggleButtons {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 767px) {
    .section__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  @media (max-width: 767px) {
    .section__buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
